# Banco de dados
AJT_DB_URL=jdbc:postgresql://localhost:5454/ajt_db
AJT_DB_USER=postgres
AJT_DB_PASSWORD=postgres

# JWT
AJT_JWT_SECRET=coloque-aqui-uma-chave-bem-grande-e-aleatoria-de-pelo-menos-32-caracteres
AJT_JWT_EXPIRATION=86400000