# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse (caso algum integrante use)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Spring Boot
application-local.yml
application-local.properties
*.log

# Environment / Secrets
.env
.env.local

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Angular (quando o front entrar no monorepo)
node_modules/
dist/
.angular/